* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./assets/rain.jpg);
}
.wrapper {
  width: 65vmin;
  height: max-content;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #29344700;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}
.game-details {
  color: #090b66;
  background: #408d3f;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #f8f9fb6f;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  text-align: center;
}
.play-board .head {
  background: #408d3f;
  border-radius: 30%;
}

.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #b8c6dc;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171b26;
}

@media (min-width: 250px) and (max-width: 800px) {
  body {
    width: 100vw;
    min-height: max-content;
    align-items: flex-start;
  }

  .wrapper {
    width: 86vw;
    height: max-content;
    margin-top: 10px;
  }

  .game-details {
    font-size: 1rem;
    height: max-content;
    flex-direction: column;
    align-items: center;
  }

  .controls {
    display: flex;
    position: absolute;
    bottom: 10px;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .controls button {
    padding: 15px;
    font-size: 1rem;
    font-weight: 900;
    color: #4866e0;
  }
}
